<!-- Footer Start -->
    <footer class="main-footer">
      <div class="container">
        <div class="row">
            <div class="col-lg-2">
            <!-- About Footer Start -->
            <div class="about-footer">
                <!-- Footer Logo Start -->
                <div class="footer-logo">
                <img src="https://merabytes.blob.core.windows.net/web/images/logos/merabytes.png" alt="Merabytes Logo"
                    style="max-width:70%;">
                </div>
                <!-- Footer Logo End -->
            </div>
            <!-- About Footer End -->
            </div>

            <div class="col-lg-5">
            <div class="footer-contact-box">
                <!-- Footer Links Start -->
                <div class="footer-links">
                <h3>Contacto</h3>
                <p><a href="tel:+34638888997">+34 663 853 915</a></p>
                <p><a href="mailto:info@merabytes.com">info@merabytes.com</a></p>
                </div>
                <!-- Footer Links End -->

                <!-- Footer Links Start -->
                <div class="footer-links">
                <h3>Horario de Atención</h3>
                <p>Lunes a Viernes: 8:00 - 19:00</p>
                <p>Sábado: 8:00 - 14:00</p>
                <p>Domingo: Cerrado</p>
                </div>
                <!-- Footer Links End -->
            </div>
            </div>

            <div class="col-lg-4">
            <div class="footer-contact-box">
                <!-- Footer Links Start -->
                <div class="footer-links">
                <h3>Oficinas</h3>
                <p>Calle Girona 34, 3A, 08403, Granollers, Barcelona</p>
                </div>
                <!-- Footer Links End -->

                <!-- Footer Links Start -->
                <div class="footer-links">
                <h3>Links</h3>
                <p><a href="https://merabytes.com/privacidad.html">Política de privacidad</a></p>
                </div>
                <!-- Footer Links End -->

            </div>
            </div>

            <div class="col-lg-12">
            <!-- Footer Copyright Text Start -->
            <div class="footer-copyright-text">
                <p>© 2025 Merabytes SL. Todos los derechos reservados.</p>
            </div>
            <!-- Footer Copyright Text End -->
            </div>
        </div>
        </div>
    </footer>
    <!-- Footer End -->