<header class="main-header">
    <div class="header-sticky">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="https://blog.merabytes.com">
            <img src="https://merabytes.blob.core.windows.net/web/images/logos/merabytes.png" alt="Merabytes"
              style="max-width: 120px;">
          </a>
          <div class="collapse navbar-collapse main-menu">
            <div class="nav-menu-wrapper">
              <ul class="navbar-nav mr-auto" id="menu">
                <li class="nav-item submenu"><a class="nav-link" href="https://merabytes.com/#soluciones">Soluciones</a>
                  <ul>
                    <li class="nav-item"><a class="nav-link" href="https://merabytes.com/itdr.html">Protección
                        Identidades</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://merabytes.com/mdr.html">Protección
                        Endpoints</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="email.html">Protección Emails</a>
                                        </li> -->
                  </ul>
                </li>
                <li class="nav-item submenu"><a class="nav-link" href="https://merabytes.com/#auditorias">Auditorías</a>
                  <ul>
                    <li class="nav-item"><a class="nav-link" href="https://merabytes.com/va.html">VA Continuo</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="pentest.html">Test de
                                                Intrusión</a></li>
                                        <li class="nav-item"><a class="nav-link" href="red-team.html">Red Team</a></li> -->
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://merabytes.com/#casos">Casos de Uso</a></li>
                <li class="nav-item"><a class="nav-link" href="https://merabytes.com/#testimonios">Reseñas</a></li>
                <li class="nav-item"><a class="nav-link" href="https://merabytes.com/#contacto">Contacto</a></li>
              </ul>
            </div>
            <div class="header-btn">
              <a href="https://merabytes.com/va.html#demo" class="btn-default">Solicitar demo</a>
            </div>
          </div>
          <div class="navbar-toggle"></div>
        </div>
      </nav>
      <div class="responsive-menu"></div>
    </div>
  </header>